@media screen and (min-width: 568px) {

    
    body {
        box-shadow: inset 0px 6px 13px 0px rgba(0, 0, 0, 0.0);
    }


    .gradiente_back {
        height: 260vh;
    }
    
    
    footer {
        position: absolute;
        top: 60px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        text-align: end;
        padding-right: 130px;
    }

    footer > div {
        width: 200px;
        margin: 0px -50px 0px 0px;
    }

    footer > div > p {
        position: relative;
        margin-top: 10px;
        margin-right: 0px;
        font-size: 11px;
        
    }

    footer > div > p#footer_last_p {
        width: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
        right: 5px;
    }

    footer > hr {
        height: 3px;
        margin: 30px -50px 30px 0px;
        min-width: 80px;
        max-width: 80px;
        border: none;
        background-color: rgba(255, 255, 255, 0.150);
    }

    footer > div > h2 {
        position: relative;
        margin-top: 30px;
        margin-right: 0px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.900);
    }

    footer > div#footer_first_title {
        width: 200px;
    }

    footer > div#footer_last_title {
        margin-right: -50px;
        width: 200px;
        margin-top: -30px;
    }

    div#side_bar_background {
        background-color: #07112958;
        position: absolute;
        top: -130px;
        right: -8px;
        width: 60px;
        height: 261vh;
    }
    
    menu#side_bar {
        display: flex;
        flex-flow: column;
        position: relative;
        top: 0px;
        right: 0px;
        /* margin-right: 0px; */
        /* margin-left: 30px; */
    }

    menu#side_bar h2 {
        font-weight: 100;
    }
    
    #menu_hr {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    #menu_hr hr:last-child {
        width: 25px;
        margin-left: 15px;
    }
    
    #redes_sociais {
        margin-bottom: 60px;
    }
    
    #bar_title {
        margin-top: 300px;
        margin-bottom: 200px;
    }
    
    
}